/* CSS Entry Point */
@import "font-awesome"; 

//////////////////////Styles applying to the app

body {
  margin: 0px;
  padding: 0;
}

.app {
  width: 40%;
  margin: auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}


////////////////////// MAIN VIEW 
////////////////////
////////////////////
.main-header {
  border-radius: 20px 20px 0 0;
  background-color: #43598a;
  box-shadow: inset 0px -2px 5px 1px rgba(0,0,0,0.49); 
  height: 80px;
  h1 {
  margin: 0;
  padding: 15px 0 0 20px;
  align-items: center;
  font-family: 'Hind', sans-serif;
  font-size: 2em;
  color: white; 
  }
}
.main-content-w-aside {
  display: flex;
  background-color: #fff;
  nav {
    min-width: 100px;
    background-color: #cbcde2;  
    a {
      display: block;
      margin: 40px;
      i {
        font-size: 2em;
        margin: auto;  
        color: #1a1a1b;    
      }
    }   
  }
  .children {
    flex-grow: 1;

  }
}

////////////////////// LIST VIEW 
////////////////////
////////////////////


.list-view-images {
  height: 65px;
  width: 65px;
  align-items: center;
  border-radius: 100%;
  margin: 10px 20px 10px 20px;
}

.user-list-items {
  height: 80px;
  font-family: 'Hind', sans-serif;
  font-weight: bold;
  font-size: 1em;
  border: 1px solid #ccc;
  box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.49);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f5f5;
  // border-bottom: #eee;
  span {
    margin-right: auto;
  }
  button {
    border: none;
    background: #E46119;
    height: 100%;
    i {
      font-size: 20px;
    }
  }
}

//////////////////////DETAILED USER VIEW with 
//////////////////////name, email, phone & location
//////////////////////information.

.user-details {
  // width: 50%;
  li {
  height: 55px;
  font-family: 'Hind', sans-serif;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #ccc;
  box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.49);
    i {
      margin: 0 10px 0 10px; 
    }
  }
}

.avatar {
  background-color: #a37b53;
  height: 200px;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px -2px 4px 1px rgba(0,0,0,0.49);
  button {
  background: none;
  border: none;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 1.25em;
  font-weight: lighter;
  }
  img {
  width: 200px;
  border-radius: 100%;
  }
}

/////////////////////////////////////
////////////FORM VIEW
//////////////////////////

.form-view {
  width: 100%;
  .form-wrapper {
    margin: 0;
    button {
      font-family: 'Hind', sans-serif;
      background-color: #eee;
      padding: 8px;
      border-radius: 4px;
      }
  }
  .form-item {
    display: flex;
    margin: 10px auto;
    width: 500px;
    height: 45px;
  }
  .drop {
    display: flex;
    .drop-zone {
    margin: auto;
    span {
      font-family: 'Hind', sans-serif;
      }
    img {
      width: 150px;
      display: block;
      }
    }
  }
  
  h1 {
    box-shadow: inset 0px -2px 5px 1px rgba(0,0,0,0.49);
    background-color: #81BC39;
    height: 80px;
    margin: 0;
    padding: 30px 0 0 20px;
    padding-left: 20px;
    font-family: 'Hind', sans-serif;
    font-size: 2em;
    color: white;
  }

  label {
    font-size: 1em;
    font-family: 'Hind', sans-serif;
  }

  input {
    box-shadow: inset 0px -1px 2px 1px rgba(0,0,0,0.49);
    height: 30px;
    width: 100%;
    font-size: 1.5em;
  }

  form {
    width: 100%;
  }
}













